<!DOCTYPE html>
<html>
<head>
    <title>TEXAM Responses</title>
    <style>
        body          { color: #eee; background: #121212; font:sans-serif; }
        h1            { color: white;font-size: 500%; }
        h2            { color: rgb(255, 240, 23);font-size: 200%; }
        p             { color: red; }
        button        { color: #0366D6; background-color: #212121; }
        table, th, td { border: 1px solid black; border-spacing: 0px; font-size: larger; }         
    </style>
<link rel='shortcut icon' type='image/x-icon' href='/static/favicon.ico' />
</head>

<body style="text-align:center;" id="body">
<script>
    const URL="https://online-exam-pi.vercel.app";
    //const URL="http://localhost:5000";
    async function main(){
        var url = URL+"/get-data";
        const response = await fetch(url);
        var data = await response.json();
        var html = '<tr> <th>_id</th><th>Timestamp</th> <th>Name</th> <th>E Mail</th> <th>Penalties</th> <th> Answers </th>  </tr>';
        one = parseInt("1")
        for(i in data)
        {
            var answers="{";
            for(j in data[i]['responses']){
                answers += j + " : '"+data[i]['responses'][j].toString()+"' , ";
            }
            answers += "}";
            html = html + '  <tr> <td>'+ data[i]['uid'] +'</td> <td>'+data[i]['timestamp'] +'</td> <td>'+ data[i]['name'] +'</td>  <td>' + data[i]['email'] +'</td> <td style = "color:red" >'+data[i]['penalties']+'</td><td style = "color:green";>'+ answers +'</td>   </tr>'
        }
        document.getElementById("data").innerHTML=html;
        document.getElementById("status").innerText=null;
    }
    main();
</script>

    <h1 style="color:#0366D6;">TEXAM</h1>
    <h2>Exam Responses</h2>
    <br>
    <center>
        <div style="color: green ;" id="status">Loading ... Please Wait</div>
        <table style="width:70%" id="data"> 
        <!-- For printing data from server -->
        </table>
    </center>

</body>
</html>